.about-container{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    gap: 3rem
}

.about-container img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.about-container p{
    text-align: justify;
    line-height: 1.7;
}

.skills ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.skills li{
    background-color: var(--color-text-hover);
    border-radius: 10px;
    text-align: center;
    color: var(--color-text-altern);
    padding: 0.3rem 1rem;
}